@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Light.woff2") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("assets/fonts/SFProText-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {

  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: -0.022em;
  background: #000000;
  color: rgb(255,255,255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga", "kern";
  
}

.back{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 670px;
background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  background-image: url(back.jpg);
}

/* =========================
   HEADER
========================= */
/* =========================
   HEADER (fixed logic)
========================= */
.mac{
  z-index: 1001;
}
:root{
  --appleH: 32px;
  --productH: 56px;
}

.header{
    
  position: relative;
  z-index: 1001;
}

/* TOP BAR */
.apple-bar {
    font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
 z-index: 1002;
  background: #1B1B1B;
  overflow: hidden;
  transition: height 220ms ease, opacity 180ms ease;
  opacity: 1;
  font-weight: 400;
}

/* BOTTOM BAR — initial state */
.product-bar {
  position: sticky;
  top: 0;
  
  background: #1B1B1B;
  backdrop-filter: none;
  transition: background 220ms ease, backdrop-filter 220ms ease;
  
  z-index: 1003;
}

/* when scrolled: TOP BAR truly collapses */

body.scrolled .product-bar {
  background: rgba(27, 27, 27, 0.55);
  -webkit-backdrop-filter: saturate(180%) blur(24px);
  backdrop-filter: saturate(180%) blur(24px);
  
}



.apple-nav {


 width: fit-content;
 letter-spacing: -.01em;
  margin: 0 auto;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 35px;
  font-size: 12px;
  height: 44px;
  color: rgb(255 255 255 / 80%);
}
.icon svg path {
  fill: rgb(255 255 255 / 80%);
}

.apple-logo {
  font-size: 20px;
}

.fcp{
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
    margin-right: 165px;
    font-weight: 600;
  font-size: 21px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255,0.92);
}

.product-inner {
    font-weight: 300;
 width: fit-content;
  margin: 0 auto;
  padding: 10px 16px 17px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  
}

.product-inner strong {
  font-weight: 600;
}

.product-nav  {
width: fit-content;
}

.product-nav a {
  font-size: 12px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.01em;
  margin-right: 20px;
  font-size: 12px;
  color:rgb(255, 255, 255, 0.8);
  text-decoration: none;
}

.product-nav a.active {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 19px;
}

.product-actions {
  font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  display: flex;
  gap: 10px;
}

.btn {
  font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  padding: 4px 11px;
  border-radius: 999px;
  font-size: 13px;
  cursor: pointer;
  border: none;
}

.btn.blue {
  background: #0071E3;
  color: #fff;
}



/* =========================
   HERO
========================= */
.hero {
    position: relative;
    z-index: 1002;
  padding: 62px 20px 55px;
  text-align: center;
}

.hero h1 {
    line-height: 1.05;
    margin-bottom: 40px;
  font-size: 80px;
   font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  letter-spacing: -0.015em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  will-change: transform, opacity;
}
.more::before, .more::after {
    content: "";
}
.hero a {
  letter-spacing: -0.05em;
  color: #6bf;
  text-decoration: none;
  font-size: 24px;
}

/* =========================
   FEATURES (4 BLOCKS)
========================= */
.features {
  padding: 160px 20px 180px;
}

.features-grid {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 160px;
  row-gap: 90px;
}

.feature {
    width: 408px;
  position: relative;
}

.feature .line {
  display: block;
  width: 100%;
  height: 2px;
 background: linear-gradient(to right, #ffad65 0%, #ff7928 100%);
  margin-bottom: 22px;
}
.feature .line1 {
  display: block;
  width: 100%;
  height: 2px;
 background: linear-gradient(to right, #ff7928 0%, #ffad65 100%);
  margin-bottom: 22px;
}

.navtxt svg {
  fill: currentColor;   /* SVG берёт цвет текста */
}

.feature h3 {
  font-size: 37px;
  line-height: 1.25;
  font-weight: 600;
}

/* CTA */
.features-cta {
  margin-top: 140px;
  text-align: center;
}

.cta-btn {
    font-family:
    "SF Pro Display",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  position: relative;
  padding: 14px 26px;
  border-radius: 999px;
  background: transparent;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  border: none;
  z-index: 0;
  font-weight: 500;
}

/* градиентная обводка */
.cta-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* толщина обводки */
  border-radius: inherit;
  background: linear-gradient(136deg, #FF359D, #A507FF);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
  z-index: -2;
}

/* внутренний фон */
.cta-btn::after {
  content: "";
  position: absolute;
  inset: 2px; /* ДОЛЖНО совпадать с padding у ::before */
  background-color: #0f141a;
  border-radius: inherit;
  z-index: -1;
}

/* =========================
   FOOTER 
========================= */

.site-footer
 {
    font-weight: 300;
  background: rgb(29, 29, 31);
  color: rgba(255,255,255,0.7);
  font-size: 12px;
  line-height: 1.6;
}

.footer-inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 17px 0px 20px;
}
.footer-legal  {
  color: rgb(255 255 255 / 56%);
  margin-bottom: 20px;
  
}
.footer-legal p {
  margin-bottom: 10px;
}

.footer-legal a {
  color:rgb(255 255 255 / 80%);
  
}

.site-footer hr {
  border: none;
  height: 1px;
  background: rgba(255,255,255,0.15);
 
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.footer-col h4 {
  color: #fff;
  font-size: 12px;
  
  margin-bottom: 10px;
}

.footer-col a {
  display: block;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  margin-bottom: 6px;
}

.footer-col a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 19px;
  padding-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.15);
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 20px;
  align-items: center;
}

.footer-links a {
  padding: 0 10px;
}

.footer-links a:not(:first-child) {
  border-left: 1px solid rgba(255,255,255,0.3);
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-locale {
  margin-right: 1px;
    margin-left: auto;
  white-space: nowrap;
}
.footer-breadcrumbs{
  display:flex;
  align-items:center;
  gap:10px;
  margin: 17px 0;
  color: rgba(255,255,255,0.65);
}

.footer-breadcrumbs .crumb{
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  font-size: 12px;
}

.footer-breadcrumbs .crumb.apple{
  font-size: 19px;
  color: rgba(255,255,255,0.85);
}

.footer-breadcrumbs .crumb.current{
  color: rgba(255,255,255,0.85);
  
}

.footer-breadcrumbs .sep{
  color: rgba(255,255,255,0.35);
}

.linkfot a{
  color: rgb(41, 151, 255);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-nav {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .footer-bottom {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 900px) {
  .hero h1 {
    font-size: 40px;
  }

  .features-grid {
    grid-template-columns: 1fr;
    row-gap: 80px;
  }
}